SnowCrystals/bin/*
SnowCrystals/obj/*
SnowCrystalsV2/bin/*
SnowCrystalsV2/obj/*
Crystals/bin/*
Crystals/obj/*
CrystalsTests/bin/*
CrystalsTests/obj/*
SnowCrystalsTextVersion/bin/*
SnowCrystalsTextVersion/obj/*
